html {
  height: 100%;
  width: 100%;
  background-color: pink;
  scroll-behavior: smooth;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: pink;
}

p {
  color: whitesmoke;
  font-weight: 600;
  text-shadow: -1px -1px 1px gray,1px -1px 1px gray,-1px 1px 1px gray,1px 1px 1px gray;
}

.dates li {
  color: whitesmoke;
  font-size: large;
  text-shadow: -1px -1px 1px gray,1px -1px 1px gray,-1px 1px 1px gray,1px 1px 1px gray;
}
h1 {
  text-align: center;
  color: whitesmoke;
  text-shadow: 2px 2px 3px gray;
  padding-top: 2%;
  font-size: 27px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-menu li {
  list-style: none;
}
.dates ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
  list-style: circle;
}

a {
  text-decoration: none;
}

.stk {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: sticky;
  top: 0;
  background-color: hotpink;
  border-bottom: 1px solid whitesmoke;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: whitesmoke;
  text-shadow: 3px 3px 0 gray;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link{
  font-size: 1.6rem;
  font-weight: 400;
  color: whitesmoke;
  text-shadow: 2px 2px 3px gray;
  font-weight: bold;
}

.nav-link:hover{
  color: #482ff7;
}

.home-pic {
  margin-top: 2%;
  display: block;
  text-align: center;
}
.home-pic img {
  border: whitesmoke;
  border-style: inset;
}
hr {
  margin: 8px;
  color: whitesmoke;
}
#kuromi-button {
  text-align: center;
  padding: 3px 26px;
  font-size: 1rem;
  color: whitesmoke;
  text-shadow: 0 0 5px gray;
  font-weight: bolder;
  border-radius: 8px;
  background-color: hotpink;
}

#top {
  z-index: 99;
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  background-color: hotpink;
  font-weight: bolder;
  color: whitesmoke;
  border: 2px whitesmoke inset;
  border-radius: 50%;
  padding: 15px;
}


@media only screen and (max-width: 768px) {
  .nav-menu {
    z-index: 1;
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: hotpink;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow:
    0 10px 27px rgba(0, 0, 0, 0.05);
  }
  
  .nav-menu.active {
    left: 0;
  }
  
  .nav-item {
    margin: 2.5rem 0;
  }
  
  .hamburger {
    display: block;
    cursor: pointer;
  }
  
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

